@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Permanent Marker", cursive;
    background-color: #fbbc42;
}

h1 {
    text-align: center;
    margin-top: 3rem;
}

section {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

.card {
    position: relative;
    height: 30vh;
    width: 25vw;
    transition: transform 0.6s ease;
    transform-style: preserve-3d; /* Nécessaire pour la rotation 3D */
    cursor: pointer; /* Indique que la carte est interactive */
}

.card_front, .card_back {
    position: absolute;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card_front {
    display: flex;
    flex-direction: column;
}

.card_back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    border: solid 2px;
    
}

.card_header {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-bottom: solid 1px;
    border: solid 2px;
    box-shadow: 0 0 10px;
}

.card_text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.3rem 1.4rem;
    text-align: center;
}

.card_header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.6s ease;
}

.card:hover .card_header img {
    transform: scale(1.1);
}

.card:hover {
    box-shadow: 0 0 20px;
    transform: translateY(10px);
}

.card.rotated {
    transform: rotateY(180deg);
}

.goku, .goku h2, .goku p {
    background-color: #fe6e04;
}

.vegeta, .vegeta h2, .vegeta p {
    background-color: #7ccae4;
}

.broly, .broly h2, .broly p {
    background-color: #0fe934;
}